[submodule "section_7/foundry/lib/forge-std"]
	path = section_7/foundry/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "section_7/foundry/lib/openzeppelin-contracts"]
	path = section_7/foundry/lib/openzeppelin-contracts
	url = https://github.com/openzeppelin/openzeppelin-contracts
